.navbar{
    width: 100%;
    height: 40px;
    background: #487B9A ;
    top: 0;
    margin: 0;
    display: flex;
    position: fixed;
}
.menu{
    flex: 1;
}
.menu ul{
    display: flex;
    list-style: none;
    float: left;
}
.menu li{
    margin-right: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    color: antiquewhite;
}
.container{
    margin-top: 2%;
    background:#94B4CD ;
}
.atas{
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 2%;
}
.my{
    margin-top: 20px;
    width: 200px;
}
.tengah{
    margin-top: 20%;
}
.tengah h2{
    text-align: center;
}
.tengah p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.form{
    margin-left: 20px;
    margin-right: 20px;
}
.yt{
    margin-left: 20px;
    margin-right: 20px;
}
.bawah{
    margin-top: 20%;
}
.bawah h2{
    text-align: center;
}
.footer{
    height: 35px;
    text-align: center;
    background: #487B9A;
}